<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>Stack Overflow Scraper</h2>
        <h3>Articles</h3>
        <ul id="example-list" class="list-group">
          {{#each articles}}
          <li id="{{this.id}}" class="list-group-item">
            <a target="_blank" href="http://stackoverflow.com/{{this.link}}">{{this.title}}</a>
            <p>{{this.description}}</p>
          </li>
          {{/each}}
        </ul>
        <button id="prev-page">Previous Page</button>
        <button id="next-page">Next Page</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/index.js"></script>